/*----------------CONTAINER----------------*/
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 980px;
}
.container::after {
    content: "";
    display: table;
    clear: both;
}
@media (min-width: 544px) {
    .container {
        max-width: 576px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 800px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 980px;
    }
}
@media (min-width: 1300px) {
    .container {
        max-width: 1260px;
    }
}

/*----------------HEADER----------------*/
.site-header {
    color: #74b1be;
    background-color: #2f3241;
    border-bottom: 1px solid #1a1b23;
    -webkit-font-smoothing: antialiased;
    padding: 25px 12px;
    text-align: center;
}
@media (min-width: 700px) {
    .site-header {
        text-align: left;
    }
}
@media (min-width: 992px) {
    .site-header {
        padding-left: 0;
        padding-right: 0;
    }
}

.side-header a {
    color: inherit;
    transition: all 0.3s;
}
.site-header a.active, .site-header a:hover {
    color: #9feaf9;
}
.site-header a:active {
    color: #6798a2;
}

.site-header-logo {
    font-size: 22px;
    opacity: 0.9;
}
.site-header-logo:hover {
    opacity: 1;
}
@media (min-width: 544px) {
    .site-header-logo {
        height: 22px;
    }
}

.site-header-nav {
    margin-top: 20px;
}
@media (min-width: 700px) {
    .site-header-nav {
        float: right;
        margin-top: 7px;
    }
}

.site-header-nav-item {
    display: inline-block;
    color: #555;
}
.site-header-nav-item:hover {
    color: #333;
    text-decoration: none;
}
.site-header-nav-item:active {
    color: #333;
}
.site-header-nav-item + .site-header-nav-item {
    margin-left: 20px;
}